name: Deploy Preview Hosting on PR
on:
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: '16'
          check-latest: false

      - name: Install Expo CLI
        run: yarn global add expo-cli

      - name: Install packages and build storybook
        run: |
          pushd ./docs
          yarn preinstall
          yarn install --frozen-lockfile --network-concurrency 1
          yarn build
          popd

      - name: Deploy to firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          entryPoint: './docs'
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DOOBOOLAB_2F044 }}'
          projectId: dooboolab-2f044
          target: dooboo-ui
          expires: 14d
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
